<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>COMPU SPACE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/estilos.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
        </script>
    </head>
    <body>
        <form method="post" id="formulario_productos">
            <img src="../../assets/img/logo_empresa.png" alt="alt"/>
            <br><br><br>
            <h1>Alta de productos</h1><br><br><br>
            <div>
                <label>ID del producto</label><br>
                <input id="id_producto" type="number" name="id_producto"
                       value="" required=""><br><br><br>
                <label>Nombre del producto</label><br>
                <input id="nombre_producto" type="text" name="producto" 
                       value="" required=""><br><br><br>
                <label>Imagen</label><br><br>
                <input id="imagen" type="file" name="imagen"
                       required=""><br><br><br>
                <label>Descripción</label><br>
                <textarea id="descripcion" name="descripcion" 
                          required=""></textarea>
                <br><br><br>
                <label>Precio</label><br>
                <input id="precio" type="number" name="precio" value="" 
                       required="">
                <br><br><br>
                <label>Categoría</label><br>
                <input id="categoria" type="text" name="categoria" value="" 
                       required="">
            </div> <br><br><br>
            <div>
                <button id="cancelar_producto" class="btn" 
                        type="button">Cancelar</button>
                <button id="guardar_producto" class="btn" 
                        type="submit">Guardar</button> 
            </div><br><br><br>
            <h2>Marcelo Lofiego</h2> 
        </form>
        <script src="../../assets/js/validaciones.js"></script>
    </body>
</html>
